@media only screen and (min-width:5px), (max-width: 650.9px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'DIN';
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: 'DIN';
        src: url('DIN\ Alternate\ Bold.ttf');
    }
    /* Navbar */
    #logo {
        height: 3.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
    }
    #navbar ul {
        display: none;
        list-style: none;
        justify-content: flex-end;
    }
    #navbar ul a {
        text-decoration: none;
        padding: 1rem 1.5rem;
        color: white;
        font-family: "Catamaran";
    }
    .mobilemenu {
        display: none;
    }
    .mobilemenu ul {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .mobilemenu a {
        text-decoration: none;
        color: white;
    }
    .mobilemenu a:hover {
        opacity: 0.8;
        transition: all .5s;
        letter-spacing: 2px;
    }
    .mobilemenu.hide {
        display: block;
        height: 100vh;
        width: 100%;
    }
    /* Hamburgermenu */
    .hamburger {
        display: block;
        cursor: pointer;
    }
    /* HamburgerMenu */
    .hamburger .line {
        display: block;
        width: 2rem;
        height: 0.15rem;
        background: white;
        margin: 0.5rem auto;
        transition: all 0.5s linear 0s;
        -moz-transition: all 0.5s linear 0s;
        -webkit-transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
    }
    .hamburger.is-active .line:nth-child(2) {
        opacity: 0;
    }
    .hamburger.is-active .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }
    .hamburger.is-active .line:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }
    /* Grid */
    .grid {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .centralBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .centralBox h2 {
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px 4px black;
    }
    .centralBox ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        cursor: normal;
    }
    .centralBox li {
        font-weight: 100;
        opacity: 1;
        font-family: "Catamaran";
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }
    .centralBox li:first-child {
        padding-left: 0;
    }
    /* Contact me button */
    #contactMeButton {
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 0.5px solid rgb(32, 245, 128);
        margin-top: 1rem;
        color: rgb(32, 245, 128);
        font-family: Arial, Helvetica, sans-serif;
        background: transparent;
        background: linear-gradient(to right, #20f580 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 1s linear;
    }
    /* Scroll bouncer */
    #scrollArrow {
        color: white;
        font-size: 2rem;
        grid-area: scrollArrow;
        justify-self: center;
        animation: bounce 12s;
        animation-iteration-count: infinite;
        text-shadow: 1px 1px 4px black;
        display: none;
    }
    /* Mousecircles */
    /* #circles {
        height: 15px;
        width: 15px;
        border: 1.5px solid white;
        border-radius: 10px;
        position: absolute;
    } */
    /* Background of about me box */
    .flex {
        display: flex;
        justify-content: center;
    }
    #backgroundtext {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        font-family: 'Titillium Web', sans-serif;
        color: white;
    }
    .aboutmebox {
        background: white;
        width: 80%;
        color: black;
    }
    .infobutton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infobutton h3:hover {
        background: rgb(32, 245, 128);
        ;
        color: black;
    }
    .infobutton h3 {
        padding: 0.5rem;
        width: 100%;
        cursor: pointer;
    }
    .info {
        padding: 0.7rem;
        display: flex;
        justify-content: space-between;
    }
    .info p {
        font-family: 'Titillium Web', sans-serif;
    }
    .info ul {
        display: none;
        list-style: none;
    }
    .info li {
        font-family: 'Titillium Web', sans-serif;
        margin: 5px 0;
    }
    #aboutMeSkills {
        flex-grow: 1;
    }
    #aboutMeSkills li:nth-child(1) {
        width: 90%;
        background: #20f580;
        padding-left: 7px;
    }
    #aboutMeSkills li:nth-child(2) {
        width: 30%;
        background: #20f580;
        padding-left: 7px;
    }
    #aboutMeSkills li:nth-child(3) {
        width: 80%;
        background: #20f580;
        padding-left: 7px;
    }
    /* Portfolio */
    .container {
        display: flex;
        justify-content: center;
    }
    #portfoliotext {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        font-family: 'Titillium Web', sans-serif;
        z-index: -1;

        margin-top: 6rem;
        color: white;
    }
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        column-gap: 1rem;
    }
    #projects1, #projects2, #projects3, #projects4 {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    #imgOfProject1, #imgOfProject2, #imgOfProject3, #imgOfProject4 {
        width: 100%;
        height: auto;
    }
    #imgtext1, #imgtext2, #imgtext3, #imgtext4 {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem 0.3rem 1rem 0.3rem;
    }
    #imgtext1 p, #imgtext2 p, #imgtext3 p, #imgtext4 p {
        font-family: 'Titillium Web', sans-serif;
    }
    #imgtext1 h3, #imgtext2 h3, #imgtext3 h3, #imgtext4 h3 {
        padding: 0.3rem 0;
        text-transform: uppercase;
    }
    .buttons {
        padding: 0.2rem 0.5rem;
        border-radius: 15px;
        border: 0.5px solid black;
        margin: 5px 0;
        background: white;
        font-family: 'Titillium Web', sans-serif;
    }
    /* footer */
    #socialmediaicons {
        font-size: 1rem;
        padding-right: 0.5rem;
        color: white;
    }
    .socialmedia {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
        border-top: .5px solid black;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
    }
    .name{
        font-size:0.5rem;
    }
}

/* Animations */

@keyframes bounce {
    0% {
        margin-top: 1rem;
    }
    10% {
        margin-top: 2rem;
    }
    20% {
        margin-top: 1rem;
    }
    30% {
        margin-top: 2rem;
    }
    40% {
        margin-top: 1rem;
    }
    50% {
        margin-top: 2rem;
    }
    60% {
        margin-top: 1rem;
    }
    70% {
        margin-top: 2rem;
    }
    80% {
        margin-top: 1rem;
    }
    90% {
        margin-top: 2rem;
    }
    100% {
        margin-top: 1rem;
    }
}

/* Span animation */



/* Contactmebutton */

#contactMeButton:hover{
    color:white;
    background-position:left bottom;
    font-weight:500;
    text-shadow: 1px 1px 10px black;
}

/* Navbar animations */

#navbar ul a:last-child {
    margin-right: 2rem;
}

#navbar ul a::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background: #20f580;
    transition: width 0.5s;
}

#navbar ul a:hover::after {
    width: 100%;
    transition: width 0.5s;
}





/* buttons of imageboxes */

.buttons:hover{
    background:#20f580;
    color:black;
    transition: background 0.5s;
    cursor: pointer;
}


